body {
  margin: 0;
  padding: 0;
}

.containerDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 5px;
  font-size: 18px;
}
.d-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.done {
  text-decoration: double line-through red;
}
